* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}
.img {
    position: fixed;
    z-index: -1;
}
.top-left {
    top: -65%;
    left: -20%;
}
.bottom-right {
    bottom: -90%;
    right: -10%;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card {
    width: 350px;
    height: 380px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#card-header img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card-main img {
    border: 5px solid #fff;
    border-radius: 50%;
    position: relative;
    top: -95px;
}
#card-main div {
    text-align: center;
    margin-top: -70px;
}
#card-main div h2 {
    margin-bottom: 10px;
}


#card-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}
#card-footer .box {
    text-align: center;
    margin: 30px;
}


h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
}
h2 span {
    color: hsl(227, 10%, 46%);
    font-weight: normal;
}
p {
    color: hsl(227, 10%, 46%);
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 6px;
}
small {
    color: hsl(227, 10%, 46%);
}